{% extends "base.html" %}
{% block content %}

<div class="row g-4 mb-4">

    <div class="col-md-3">
        <div class="kpi-card">
            <small>Total Cases</small>
            <h3>{{ total_cases }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="kpi-card">
            <small>Highest Disease</small>
            <h3>{{ highest_disease }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="kpi-card">
            <small>Peak Month</small>
            <h3>{{ peak_month }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="kpi-card">
            <small>Model Accuracy</small>
            <h3>{{ accuracy }}%</h3>
        </div>
    </div>

</div>

<div class="row g-4">

    <div class="col-lg-8">
        <div class="glass-card p-4">
            <h5>Disease Trends</h5>
            {{ trend_chart | safe }}
        </div>
    </div>

    <div class="col-lg-4">
        <div class="glass-card p-4 mb-4">
            <h5>Distribution</h5>
            {{ pie_chart | safe }}
        </div>

        <div class="glass-card p-4">
            <h5>Predictions</h5>
            {{ prediction_chart | safe }}
        </div>
    </div>

</div>

<div class="glass-card p-4 mt-4">
    <h5>Dataset</h5>
    {{ data_table | safe }}
</div>

{% endblock %}
